@import '../mixins';

.panel {
	&-heading {
		background-color: #f7f8fa;
	}

	&-title {
		color: #74788d;
	}

	&-body {
		position: relative;
		min-height: 800px;
		text-align: center;

		@include mobile() {
			min-height: 700px;
		}
	}

	.accordion-toggle {
		&[aria-expanded="true"] {
			h5, i {
				color: $primary-btn-color;
			}
		}

		&[aria-expanded="false"] {
			h5, i {
				color: #74788d;
			}
		}
	}
}
