@import '../../../scss/variables';
@import '../../../scss/mixins';

nav {
    align-items: center;
	min-height: 48px;

	@include mobile() {
		flex-direction: column;
		align-items: flex-start;

		button {
			margin-top: 10px;
		}
	}
}

.languages {
	button {
		align-self: center;
		padding: 0.4rem;
		border: 3px solid $secondary-btn-background-color;
		border-radius: 50%;
		width: 45px;
	}
}

.btn {
	&-link {
		&.active, &:hover, &:focus {
			background-color: $secondary-btn-background-color !important;
		}
	}
}
