<div class="mt-5">
	<div class="search d-flex justify-content-center">
		<input type="text" class="form-control w-50" placeholder="Search term..." aria-label="Search term"
			aria-describedby="addon-wrapping" (keyup)="searchTerm$.next($event.target.value)">
	</div>
	<ng-container *ngIf="!loading; else dataLoading">
		<app-top-news-list
			*ngIf="articles?.length > 0"
			[articles]="articles"
			[country]="country"
			(showArticleDetails)="onShowArticleDetails($event)"
		></app-top-news-list>
	</ng-container>
	<ng-template #dataLoading>
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</ng-template>
</div>
<div class="m-5" *ngIf="articles?.length < 1 && searchTerm">
	<div class="d-flex justify-content-center w-100 m-auto">
		<alert type="danger">
			<h3>Oh snap!</h3>
			<hr>
			<p>There are no articles for your search term...</p>
		</alert>
	</div>
</div>

