$primary-btn-color: #716aca;
$secondary-btn-color: #fd397a;

$primary-btn-background-color: rgba(113,106,202,.1);
$secondary-btn-background-color: rgba(253,57,122,.1);

$primary-background-color: #f2f3f8;

$primary-text-color: #434349;
$secondary-text-color: #6c7293;
